header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 30px;
    padding: 20px;
    background-color: rgb(144, 54, 170);
    color: white;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.content {
    display: flex;
    
    justify-content: space-between;
    width: 90%;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

@media screen and (max-width: 900px){
    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }

    .left {
        width: 90%;
    }

    .right {
        width: 90%;
        margin: auto;
    }
}